            h1,
            p {
                text-align: center;
            }

            #map {
                margin: 100 auto;
                border-style: solid;
            }

            .departement {
                fill: #888;
                stroke: #444;
                stroke-width: 1px;
            }

            #tooltip {
                display: none;
                z-index: 999;
                position: absolute;
                padding: 25px;
                background-color: #bbb;
                width: 150px;
                border: 2px solid #999;
                border-radius: 25px;
            }