.legend {
line-height:18px;
color:#555;
font-size:14px;
background-color:#fff;
padding:20px;
}

.legend i {
width:18px;
height:18px;
float:left;
margin-right:8px;
opacity:0.9;
}


 button {
text-align:center;
text-decoration:none;
display:inline-block;
background-color:#FFF;
color:#000;
border:2px solid #4CAF50;
height: 50px;
margin-right: 5px;
}

button:hover {
background-color:#4CAF50;
color:#FFF;
} 
        
.Grp{
background-color:#FFF;
border:2px solid #FFCA00;
height: 50px;
display:none

    
        }
.Grp:hover {
background-color:#FFCA00;
color:#FFF;
} 

.Indic{
background-color:#FFF;
border:2px solid #003399;
height: 50px
    
        }
.Indic:hover {
background-color:#003399;
color:#FFF;
} 
        
.Annee{
background-color:#FFF;
border:2px solid #003399;
height: 50px
    
        }
.Annee:hover {
background-color:#003399;
color:#FFF;
}         

.espace{
margin: 5px;            
        }

#PieChart{
    margin-left: auto;
    margin-right: auto;}


 .selectedIndic{
   background-color:#003399;
color:#FFF;}

 .selectedGrp{
background-color:#FFCA00;
color:#FFF;}

 .selectedMenu{
background-color:#4CAF50;
color:#FFF;
}

#flag{
border:solid 2px;
opacity: 0.8
}
#number{
margin-top: 10px
}
#help{
text-align: justify;
padding: 10px;
}
	
body{
background-color:#FFF

}
.headerCell{
  display:none
}

.hoverTableRow{
background-color:#003399;
color: white
}

.tableRow{
 border: none;
}

.tableCell {
text-align: center !important;
}